{% extends "index.html" %}

{% block sidenav %}
    <a id="menu-toggle" href="#" class="side"><img src ="static/img/fslogo.png" /></a>
    <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="toggle"></a>
        <li>
            <a href="/" onclick=$("#menu-close").click();>Home</a>
        </li>
        <li>
            <a href="/about#aboutme" onclick=$("#menu-close").click();>About Me</a>
        </li>

        <li>
            <a href="/skills#skills" onclick=$("#menu-close").click();>Skills</a>
        </li>
        <li>
            <a href="/portfolio#portfolio" onclick=$("#menu-close").click();>Projects</a>
        </li>
        <li>
            <a href="/contact#contact" onclick=$("#menu-close").click();>Contact</a>
        </li>
    </ul>
    </nav>
{% endblock %}

{% block header %}
{% endblock %}

{% block posters %}
{% endblock %}

{% block portfolio %}
<!-- Projects -->
    <section id="portfolio">
        <div class="container-fluid portfolio-wrapper">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="fontheaders">Projects</h1>
                        <hr class="small">
                    </div>
                </div>
                <div class="row">
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <img src="static/img/fantasychamps.png">
                        <div class="overlay" >
                            <p class="portfolio-text"> Fantasy Champs <br />
                            <h4 class="portfolio-glyph">y</h4>
                            What Makes it Tick? <br/>
                            HTML5, Bootstrap and CSS2 on the front-end. Python, Flask and PostgreSQL on the back-end. Some help from an NFL Game API </p>
                            <a href="https://github.com/pbullion/FFwebdatabase" target="_blank"><button>Git Hub</button></a>
        					<a href="http://www.fantasychamps.xyz" target="_blank" class="flipimg"><button>Live Site</button></a>
					        <!-- <button class="code-button">Show Code</button> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="portfolio-item">
                        <img class="img-portfolio img-responsive" src="static/img/bjscreen.png">

                        <div class="overlay">
                            <p class="portfolio-text">Alice's Blackjack <br />
                                <h4 class="portfolio-glyph">y</h4>
                                What Makes it Tick? <br/>
                                HTML5, Javascript, JQuery, CSS3
                            </p>
                                <a href="https://github.com/koneil612/BlackJack" target="_blank"><button>Git Hub</button></a>
                                <a href="/blackjack" target="_blank"><button>Live Site</button></a>
                        </div>
                    </div>
                </div>

                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="fontheaders">Freel@nce</h1>
                            <hr class="small">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <img class="img-portfolio img-responsive" src="static/img/divezone.png">
                            <div class="overlay" >
                            <p class="portfolio-text">Dive Shop Website-Redesign</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <img class="img-portfolio img-responsive" src="static/img/kcc.png">
                            <div class="overlay">
                            <p class="maintext">E-Commerce Craft Site</p>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
            <br />
        </section>
{% endblock %}


{% block footer %}
    <div class="footer">
        <nav class="navbar-default navbar-bottom" role="navigation">
            <br />
        <div class="container">
            <div class="row">
                <br />
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <br /><br />
              <h4><strong>Kristine O'Neil</strong>
              </h4>
                  Houston, TX
                  <p>
              <ul class="list-inline">
                  <li><a href="mailto:kellis1286@gmail.com"><i class="contacts fa fa-envelope-o fa-fw"></i> </a>
                  </li>
                  <li><a href="https://www.linkedin.com/in/kristine-o-neil-a224198a" target="_blank"> <i class="contacts fa fa-linkedin-square" aria-hidden="true"></i></a>
                  </li>
                  <li><a href="https://github.com/koneil612"target="_blank"><i class="contacts fa fa-github" aria-hidden="true"></i></a>
                  </li>
                  <li> <a href="https://angel.co/kristine-o-neil" target="_blank"><i class="contacts fa fa-angellist" aria-hidden="true"></i></a>
                  </li>
              </ul>
                </p>
              <p class="text-muted"> <hr class="small">Copyright &copy; kristineoneil.com 2017</p>
                </div>
            </div>
        </div>
        </nav>
{% endblock %}
